*    
.grid{
    display: grid;
    grid-template-columns: repeat(7,55px);
    grid-template-rows: repeat(6,55px);
    width: 400px;
    height: 350px;
    margin: 0 auto;
    justify-content: center;
    background-color:rgba(34, 33, 33, 0.966);
       

}

.cell{
    border: 5px, black;
    background-color: deepskyblue;
    border-radius: 50%;
    outline: 5px black;

}
.cell:hover{
    background-color:gold;
}