*
body{
    box-sizing: border-box;
    margin: auto;
    border-radius: 50%;
    counter-reset: center;
    background-color: peachpuff;
    
    
}
.board{
    display: grid;
    grid-template-columns: repeat(7,55px);
    grid-template-rows: repeat(6,55px);
    width: 400px;
    height: 350px;
    margin: 0 auto;
    justify-content: center;
    background-color:rgba(34, 33, 33, 0.966);
       

}

.cell{
    border: 5px, black;
    background-color: deepskyblue;
    border-radius: 50%;
    outline: 5px black;

}
.cell:hover{
    background-color:gold;
}
 h1{
     font-family: fantasy;
     font-style: italic;
    background: teal;
    text-align: center;
 }
.rest{
 border: 5ch;
text-align: center;
line-height: 3.5;
padding: 5px;
color: sold black;
font-size: 1rem;
background-color: teal;
 }
